<div class="row">
  <div class="col-12 col-sm-4 offset-sm-2 mb-2">
    <button type="button" id="btnCreateRoom" class="btn btn-primary btn-block">CREATE ROOM</button>
  </div>
  <div class="col-12 col-sm-4">
    <a href="/rooms">
      <button type="button" class="btn btn-secondary btn-block">LIST ROOMS</button>
    </a>
  </div>
</div>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/index.js") %>"></script>