// Styles for the room site

// #Message List#
#msg-list {
  padding: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;

  & li {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
  }
}

#msg-list::-webkit-scrollbar,
.video-description-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.msg-time {
  font-size: 0.7rem;
  color: $inactive;
}

.msg * {
  vertical-align: middle;
}

// #Video Infos#
.videos-remaining {
  text-align: right;
  position: relative;
}

.video-description-container {
  scrollbar-width: none;
}

.video-description-container {
  overflow-y: overlay;
  max-height: 300px;
}

// #History Modal#
.modal-header,
.modal-footer {
  background: $back-light;
}

#history-entries {
  width: 100%;
  height: 400px;
}

// #Video Player#
.vjs-youtube .vjs-poster {
  background-size: contain !important;
  background-position-x: 50%;
  background-image: url('hackercat.gif') !important;

  &:before {
    content: "LOADING";
    font-size: 4rem;
    display: inline-block;
    position: relative;
    left: 50%;
    animation-name: hackercat;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
  }
}

// #Controls#
#btnSkipCurrent:hover {
  background: red;
  border-color: red;
}

// #Breakpoint mix-ins#
@include media-breakpoint-up(md) {

  .video-container,
  .chat-container {
    height: 80vh;
  }

  #video-wrapper {
    height: 25vw;
  }
}

@include media-breakpoint-down(sm) {

  .video-description-container,
  #msg-list {
    max-height: 250px;
    margin-top: 2rem;
  }

  #video-wrapper {
    height: 250px;
  }

  #msg-list {
    border-top: 1px orange solid;
  }
}